{%extends 'base.html'%}

{%load static %}


{%block content%}
	<section class="feature">
		<div class="feature-content">
			<h1>Get More customers By Using Our Platform!</h1>	
			{% if request.user.is_authenticated %}
			    {% if user.type == 'AGENT' %} 
				    <a class="btn btn-primary cta" href="{% url 'agent_profile' %}">Profile</a>
				{% else %}
				    <a class="btn btn-primary cta" href="{% url 'store_profile' %}">Profile</a>
				{% endif %}
			    <a class="btn btn-primary cta" href="{% url 'about-us' %}">AboutUs</a>
			{% else %}
				<a class="btn btn-primary cta" href="{% url 'agent_signup' %}">Agent SignUp</a>
				<a class="btn btn-primary cta" href="{% url 'store_signup' %}">Store signUp</a>
				<a class="btn btn-primary cta" href="{% url 'ScanBooks' %}">Scan QR</a>
			{% endif %}
		</div>
		<img src="{% static 'images/MYc_logo.jpg' %}" alt="" class="feature-image">
	</section>
{%endblock content%}