{% extends 'base.html' %} 

{% block content %}
<h2>{{ user_type }} {{user.name}}</h2>
<div class="center">
	{% csrf_token %}
		<img src="{{ user.qrImg.url }}" class="img-responsive thumbnail" href="{% url 'download_img' %}" alt="img">
	<hr>
	<a class="text-center">{{ user.phone | title }}</a>
	<hr>
	<h4 class="text-center">{{ user.name }}</h4>
	<hr>
	<h4 class="text-center">Code: {{ user.category1 }}</h4>
	<hr>
	<h4>You Can Share Your QR code By Downloading</h4>
	<hr>
	<div>
		<a class="btn btn-primary cta" href="{% url 'download_img' %}">Download</a>
	</div>
</div>

{% endblock content %}
