{% extends 'base.html' %} 

{% block content %}

{% if user.is_staff %}
	<a class="btn btn-primary cta" href="{% url 'profile' %}">Profile</a>
	<a class="btn btn-primary cta" href="{% url 'about-us' %}">AboutUs</a>
{% else %}
<div class="center">
	{% csrf_token %}
		<img src="{{ user.get_photo_url }}" class="img-responsive thumbnail" href="{% url 'download_img' %}" alt="img">
	<hr>
	<a class="text-center">{{ user.phone | title }}</a>
	<hr>
	<h4>You Can Share Your QR code By Downloading</h4>
	<hr>
	<div>
		<a class="btn btn-primary cta" href="{% url 'download_img' %}">Download</a>
	</div>
</div>
{% endif %}
{% endblock content %}
