{% endblock %}

<div class="center">
    <form method="post" novaldiate class="card">
        {% csrf_token %}
      <h2 class="text-center">Create Purchase Data </h2>
      {% for field in form %}
              {{ field.label_tag }} 
              {{ field }}
              {% if field.errors %}
                  <small class="error">{{ field.errors|striptags  }}</small> 
              {% endif %}
      {% endfor %}
      
      <input type="submit" value="purchase" class="btn btn-primary full-width">
      <hr>
      </form>
  </div>
{%endblock content%}